* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fff;
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
.logo {
  font-size: 2.2rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  display: flex;
  gap: 1rem;
}
.logo > span:first-child {
  color: rgb(255, 0, 68);
}
.search-form {
  padding: 1rem 8rem;
  margin: 0 auto;
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}
.form-input {
  width: 70%;
  background-color: #f7f7f7;
  padding: 10px 20px;
  outline: none;
  border: 1px solid #dddddd;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.submit {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.submit-btn {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.submit-btn:hover {
  fill: #07a081;
}
/*
=============== 
Stock Photos
===============
*/
.photos {
  padding: 7rem 0;
}
.photos-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 31.5%);
}
.photo {
  height: 17.5rem;
  position: relative;
  overflow: hidden;
}
.photo > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.photo h4 {
  margin-bottom: 0.5rem;
}
.photo p {
  margin-bottom: 0;
}
.user-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.photo-info {
  position: absolute;
  width: 100%;
  padding: 1rem;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  transform: translateY(100%);
  transition: all 0.3s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photo:hover .photo-info {
  transform: translateY(0);
}

/* media queries */

@media screen and (max-width: 800px) {
  h4 {
    font-size: 1rem;
    line-height: 1;
  }
  body {
    font-size: 1rem;
  }
  .photos-center {
    grid-template-columns: repeat(2, 50%);
  }
  .logo {
    font-size: 1.5rem;
    gap: 0.7rem;
  }
  .form-input {
    width: 50vw;
    padding: 0.5rem;
  }
  .search-form {
    gap: 1rem;
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 576px) {
  .photos-center {
    grid-template-columns: auto;
  }
  .logo {
    font-size: 1rem;
    gap: 0.5rem;
  }
  .search-form {
    max-width: 1170px;
    gap: 1rem;
    padding: 1rem 3rem;
  }
  .form-input {
    padding: 0.3rem;
  }
  .submit {
    gap: 1rem;
  }
  .submit-btn {
    width: 1rem;
    height: 1rem;
  }
}
